<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MonitoraSUS</title>

    <!-- IMPORTS -->
    <!-- Fonts -->
    <link href="~/assets/fonts/fontawesome-free-5.13.0-web/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Styles -->
    <link rel="stylesheet" href="~/assets/css/argon.css?v=1.2.0" type="text/css">
    <link rel="stylesheet" href="~/assets/css/custom.css" type="text/css">
    <link rel="stylesheet" href="~/assets/js/plugins/sweetalert2/dist/css/sweetalert2.min.css">
</head>
@if (!User.Identity.IsAuthenticated)
{
    <body class="login">
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </body>
}
else
{
    <body>
        <!-- Main content -->
        <div class="main-content" id="panel">
            <!-- Top Nav-->
            <partial name="_NavBarPartial" />
            <!-- Header -->
            <partial name="_Header" />

            <!-- Page Content -->
            @RenderBody()
        </div>

        <!-- Scripts -->
        <script src="~/assets/js/plugins/jquery-3.4.1/jquery-3.4.1.min.js"></script>
        <script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/assets/vendor/js-cookie/js.cookie.js"></script>
        <script src="~/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="~/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
        <script src="~/assets/js/plugins/jquery-mask/dist/jquery.mask.min.js"></script>
        <script src="~/assets/js/plugins/sweetalert2/dist/js/sweetalert2.min.js"></script>
        <script src="~/assets/js/argon.js?v=1.2.0"></script>
        <script src="~/assets/js/custom.js"></script>

        @RenderSection("Scripts", required: false)
    </body>
}
</html>
