@model Model.ViewModel.PesquisaPacienteViewModel


@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-content">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">

                        <div class="col">
                            <h5 class="card-title text-muted mb-0">MonitoraSUS</h5>
                            <h5 class="h3 mb-0">MOnitoramento de Pacientes</h5>
                        </div>
                        <div class="col text-right">
                            <!--a class="btn btn-success" asp-action="Create">Novo Exame</!--a-->
                            <a class="btn btn-default" asp-controller="Home" asp-action="Index"> <i class="fas fa-arrow-left"></i> Voltar</a><br />
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <h4 class="card-title text-muted mb-0">Filtre Exames por Data e CPF/RG</h4>
                    <div class="pl-lg-0">
                        <div class="row">
                            <div class="col">
                                <form asp-controller="MonitorarPaciente" asp-action="Index">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-cpf">CPF/RG ou NOME</label>
                                                <input asp-for="Pesquisa" type="text" name="pesquisa" class="form-control" placeholder="000.000.000-00" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="form-control-label" for="data-inicial"> Data Inicial</label>
                                                <input asp-for="DataInicial" type="date" id="data-inicial" name="DataInicial" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="form-control-label" for="data-final"> Data Final</label>
                                                <input asp-for="DataFinal" type="date" id="data-final" name="DataFinal" class="form-control" />
                                            </div>
                                            <div class="form-group" hidden>
                                                <label class="form-control-label" for="data-final"> Data Final</label>
                                                <input asp-for="RealizouPesquisa" type="checkbox" checked="checked" id="realizou-pesquisa" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-virus-bacteria">Exame</label>
                                                @Html.DropDownListFor(model => model.VirusBacteria, ViewBag.VirusBacteria as SelectList, new
                                                { @class = "form-control", @id = "input-virus-bacteria" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-atuacao-estado">Situacao</label>
                                                <select asp-for="Resultado" class="form-control" id="input-resultado">
                                                    <option>Positivo</option>
                                                    <option>Indeterminado</option>
                                                    <option>Imunizado</option>
                                                    <option>Todas as Opçoes</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-0">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <button type="submit" id="btn-filtar" class="form-control btn btn-default"><i class="fa fa-search"></i> Filtrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="table-responsive">
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col" class="sort" data-sort="resultado">
                                                    Resultado
                                                </th>
                                                <th scope="col" class="sort" data-sort="total">
                                                    Total
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr class="text-danger">
                                                <td>
                                                    Positivos
                                                </td>
                                                <td>
                                                    @Model.Positivos
                                                </td>
                                            </tr>
                                            <tr class="text-warning">
                                                <td>
                                                    Indeterminados
                                                </td>
                                                <td>
                                                    @Model.Indeterminados
                                                </td>
                                            </tr>
                                            <tr class="text-blue">
                                                <td>
                                                    Imunizados
                                                </td>
                                                <td>
                                                    @Model.Imunizados
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body ">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort" data-sort="cpf">
                                        CPF/RG
                                    </th>
                                    <th scope="col" class="sort" data-sort="nome">
                                        Nome
                                    </th>
                                    <th scope="col" class="sort" data-sort="virus-bacteria">
                                        Exame
                                    </th>
                                    <th scope="col" class="sort" data-sort="ultima-situacao">
                                        Última Situação
                                    </th>
                                    <th scope="col" class="sort" data-sort="data-monitoramento">
                                        último Monitoramento
                                    </th>
                                    <th scope="col" class="sort" data-sort="nome">
                                        Gestor
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Pacientes)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cpf)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                        </td>
                                        <th>
                                            @Html.DisplayFor(modelItem => item.VirusBacteria.Nome)
                                        </th>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UltimaSituacao)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DataUltimoMonitoramento)
                                        </td>
                                        <th>
                                            @Html.DisplayFor(modelItem => item.Gestor.Nome)
                                        </th>
                                        <td>
                                            <a href="@Url.Action("Edit", "Exame", new { idPessoa = item.Idpessoa, IdVirusBacteria = item.VirusBacteria.IdVirusBacteria })" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> Editar </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>