@model Tuple<List<Model.ViewModel.SolicitanteAprovacaoViewModel>, List<Model.EmpresaExameModel>>
@{
    ViewData["Title"] = "IndexApproveAgent";

    var bloquear = "Bloquear";
    var ativar = "Ativar";
    var descartar = "Descartar";
}

@if (ViewBag.responseOp != null)
{
    if (ViewBag.responseOp.Contains("!"))
    {
        <div id="msg" onclick="swtAlert('sucess','Sucesso!', '@ViewBag.responseOp')"></div>

    }
    else
    {
        <div id="msg" onclick="swtAlert('error','Falha!', '@ViewBag.responseOp')"></div>

    }
}

<!-- Page Content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-content">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h5 class="card-title  text-muted mb-0">MonitoraSUS</h5>
                            <h5 class="h3 mb-0">Autorizar @ViewBag.entidade de Saúde</h5>
                        </div>
                        <div class="col text-right">
                            <a href="@Url.Action("Index", "Home")" class="btn btn-sm btn-default">
                                <i class="fas fa-arrow-left"></i> Voltar
                            </a>
                        </div>
                    </div>

                    @if (ViewBag.entidade.Equals("Gestor"))
                    {
                        <hr />
                        <div class="row align-items-center" style="float: left">
                            <div class="col text-left">
                                <h6 class="heading-small text-muted pl-lg-4">Promover Notificador à Gestor</h6>
                                <div class="form-inline">
                                    <form asp-controller="AgenteSecretario" asp-action="UpToGestor">
                                        <input type="text" required class="form-control form-control-user cpf" oninput="validaCpf()" name="cpf" id="input-cpf" value="" placeholder="CPF">
                                        <input hidden type="text" required class="form-control form-control-user" name="entidade" id="entidade" value="@ViewBag.entidade">
                                        <button type="submit" class="margin-left-10 btn btn-success">Adicionar</button>
                                    </form>
                                </div>
                                @if (ViewBag.responseUp != null)
                                {
                                    <span class="text-danger text-center">@ViewBag.responseUp</span>
                                }
                            </div>
                        </div>
                    }
                    else if (ViewBag.entidade.Equals("Agente"))
                    {
                        <hr />
                        <div class="row align-items-center" style="float: left">
                            <div class="col text-left">
                                <h6 class="heading-small text-muted pl-lg-4">Associar Notificador à Empresa</h6>
                                <div class="form-inline">
                                    <input type="text" required class="form-control form-control-user cpf" oninput="validaCpf()" name="cpf" id="input-cpf" value="" placeholder="CPF">
                                    <input hidden type="text" required class="form-control form-control-user" name="entidade" id="entidade" value="@ViewBag.entidade">
                                    <button data-toggle="modal" data-target="#empresaModal" class="margin-left-10 btn btn-success">Adicionar</button>
                                </div>
                                @if (ViewBag.responseUp != null)
                                {
                                    <span class="text-danger text-center">@ViewBag.responseUp</span>
                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="card-body ">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort" data-sort="nome">
                                        @Html.DisplayNameFor(model => model.Item1.FirstOrDefault().Nome)
                                    </th>
                                    <th scope="col" class="sort" data-sort="cpf">
                                        @Html.DisplayNameFor(model => model.Item1.FirstOrDefault().Cpf)
                                    </th>
                                    <th scope="col" class="sort" data-sort="estado">
                                        @Html.DisplayNameFor(model => model.Item1.FirstOrDefault().Estado)
                                    </th>
                                    <th scope="col" class="sort" data-sort="cidade">
                                        @Html.DisplayNameFor(model => model.Item1.FirstOrDefault().Cidade)
                                    </th>
                                    <th scope="col" class="sort" data-sort="status">
                                        @Html.DisplayNameFor(model => model.Item1.FirstOrDefault().Status)
                                    </th>
                                    <th scope="col" class="sort" data-sort="acoes">
                                        Ações
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                @foreach (var item in Model.Item1)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                        </td>
                                        <td>
                                            <a href="#">@Html.DisplayFor(modelItem => item.Cpf)</a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Estado)
                                        </td>
                                        <td>
                                            @if (item.Cidade != null)
                                            {
                                                @Html.DisplayFor(modelItem => item.Cidade)
                                            }
                                            else
                                            {
                                                <span><b>N/A</b></span>
                                            }
                                        </td>
                                        <td>
                                            <span class="badge badge-dot mr-4">
                                                @if (item.Status.Equals("A"))
                                                {
                                                    <i class="bg-success"></i>
                                                }
                                                else if (item.Status.Equals("I"))
                                                {
                                                    <i class="bg-danger"></i>
                                                }
                                                else if (item.Status.Equals("S"))
                                                {
                                                    <i class="bg-warning"></i>
                                                }
                                                <span class="status">@Html.DisplayFor(itemModel => item.Situacao)</span>
                                            </span>
                                        </td>
                                        <td>
                                            @if (item.Status.Equals("S"))
                                            {
                                                <a href="@Url.Action("ActivateAgent", "AgenteSecretario", new { entidade = @ViewBag.entidade, idPessoa = item.IdPessoa })" class="btn btn-icon btn-success btn-sm" title="@ativar">
                                                    <span class="btn-inner--icon"><i class="fas fa-check"></i></span>
                                                </a>
                                                <a href="#" class="btn btn-icon btn-danger btn-sm" title="@descartar" data-toggle="modal" data-target="#agentModal" data-funcao="@ViewBag.entidade" data-id="@item.IdPessoa" data-nome="@item.Nome">
                                                    <span class="btn-inner--icon"><i class="fas fa-times"></i></span>
                                                </a>
                                            }
                                            else if (item.Status.Equals("A"))
                                            {
                                                <a href="@Url.Action("BlockAgent", "AgenteSecretario",  new { entidade = @ViewBag.entidade, idPessoa = item.IdPessoa })" class="btn btn-icon btn-warning btn-sm" title="@bloquear">
                                                    <span class="btn-inner--icon"><i class="fas fa-ban"></i></span>
                                                </a>
                                                if (ViewBag.entidade.Equals("Gestor"))
                                                {
                                                    <a href="@Url.Action("DownToAgent", "AgenteSecretario", new { idPessoa = item.IdPessoa })" class="btn btn-icon btn-danger btn-sm" title="@descartar">
                                                        <span class="btn-inner--icon"><i class="fas fa-times"></i></span>
                                                    </a>
                                                }
                                            }
                                            else if (item.Status.Equals("I"))
                                            {
                                                <a href="@Url.Action("ActivateAgent", "AgenteSecretario", new { entidade = @ViewBag.entidade, idPessoa = item.IdPessoa })" class="btn btn-icon btn-success btn-sm" title="@ativar">
                                                    <span class="btn-inner--icon"><i class="fas fa-check"></i></span>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal confirmação descartar -->
<div class="modal fade  bs-example-modal-sm" id="agentModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Realmente deseja <b>remover</b>?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <span>Nome: <b><span id="modal-nome"></span></b></span>
                <span hidden id="modal-id"></span>
                <span hidden id="modal-funcao"></span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button onclick="actionDel()" class="btn btn-success">Confirmar</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.entidade.Equals("Agente"))
{
    <!-- Modal empresas -->
    <div class="modal fade  bs-example-modal-xl" id="empresaModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Escolha a empresa</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="card-body ">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" class="sort" data-sort="cnpj">
                                            @Html.DisplayNameFor(model => model.Item2.FirstOrDefault().Cnpj)
                                        </th>
                                        <th scope="col" class="sort" data-sort="nome">
                                            @Html.DisplayNameFor(model => model.Item2.FirstOrDefault().Nome)
                                        </th>
                                        <th scope="col" class="sort" data-sort="celular">
                                            @Html.DisplayNameFor(model => model.Item2.FirstOrDefault().FoneCelular)
                                        </th>
                                        <th scope="col" class="sort" data-sort="email">
                                            @Html.DisplayNameFor(model => model.Item2.FirstOrDefault().Email)
                                        </th>
                                        <th>
                                            Ações
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Item2)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cnpj)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nome)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FoneCelular)
                                            </td>
                                            <td>
                                                @if (item.Email.Equals(""))
                                                {
                                                    <div> - </div>
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => item.Email)
                                                }
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Details", "EmpresaExame", new { id = item.Id})" class="btn btn-success btn-sm"><i class="fa fa-check"></i>Associar</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@section Scripts {

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script type="text/javascript">

    $(document).ready(function () {
        var msg = document.getElementById("msg");
        msg.click();
    })

        function swtAlert(type,title,message){
    	Swal.fire({
	        icon: type,
	        title: title,
	        text: message,
    	});
         }

        $('#agentModal').on('show.bs.modal', function(e) {
            var id = e.relatedTarget.dataset.id;
            var nome = e.relatedTarget.dataset.nome;
            var funcao = e.relatedTarget.dataset.funcao;
            $(".modal-body #modal-id").text(id);
            $(".modal-body #modal-nome").text(nome);
            $(".modal-body #modal-funcao").text(funcao);
        });

        function actionDel() {
            var action = $("#modal-funcao").text();
            var idPessoa = $("#modal-id").text();

            var url = '@Url.Action("excludeAgent", "AgenteSecretario")';

            if (action == 'Agente')
                window.location.href = url + '/Agente/' + idPessoa;
            else if(action == 'Gestor')
                window.location.href = url + '/Gestor/' + idPessoa;

        }

    </script>

    <script src="~/assets/js/PersonalScripts.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
