@model Model.ExameViewModel

@{
    ViewData["Title"] = "Create";

    var cpf = Model.IdPaciente.Cpf;
    var nome = Model.IdPaciente.Nome;
    string dataNascimento = Model.IdPaciente.DataNascimento == null ? Model.IdPaciente.DataNascimento.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd");
    var rua = Model.IdPaciente.Rua;
    var cep = Model.IdPaciente.Cep;
    var bairro = Model.IdPaciente.Bairro;
    var cidade = Model.IdPaciente.Cidade;
    var complemento = Model.IdPaciente.Complemento;
    string numero = Model.IdPaciente.Numero;
    string estado = Model.IdPaciente.Estado;
    string email = Model.IdPaciente.Email;
    string foneCelular = Model.IdPaciente.FoneCelular;
    string foneFixo = Model.IdPaciente.FoneFixo;
    bool hipertenso = Model.IdPaciente.Hipertenso;
    bool cardiopata = Model.IdPaciente.Cardiopatia;
    bool cancer = Model.IdPaciente.Cancer;
    bool diabetico = Model.IdPaciente.Diabetes;
    bool doenRespiatoria = Model.IdPaciente.DoencaRespiratoria;
    bool obeso = Model.IdPaciente.Obeso;
    bool imunodeprimido = Model.IdPaciente.Imunodeprimido;
    string dataExame = Model.DataExame == null ? Model.DataExame.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd");
    string DataInicioSintomas = Model.DataInicioSintomas == null ? Model.DataInicioSintomas.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd");
}

<!-- Page Content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-content">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h5 class="card-title  text-muted mb-0">MonitoraSUS</h5>
                            <h5 class="h3 mb-0">Notificar Resultado</h5>
                        </div>
                        <div class="col text-right">
                            <a href="#" class="btn btn-sm btn-default">
                                <i class="fas fa-arrow-left"></i> Voltar
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="Create" name="form-exame">
                        <h6 class="heading-small text-muted mb-4">Dados Pessoais</h6>
                        <h4 class="heading-small text-muted pl-lg-4">Digite um CPF e tecle enter para carregar as informações do paciente ou cadastre-o agora mesmo</h4>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-cpf">CPF</label>
                                        <input asp-for="IdPaciente.Cpf" id="input-cpf" placeholder="" value="@cpf" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-nome">Paciente</label>
                                        <input asp-for="IdPaciente.Nome" id="input-nome" placeholder="Nome Completo" class="form-control" value="@nome" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="input-data-nascimento" class="form-control-label">Data de Nascimento</label>
                                        <input asp-for="IdPaciente.DataNascimento" type="date" id="input-data-nascimento" class="form-control" value="@dataNascimento" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-control-label" for="sexo">Sexo</label><br>

                                        <div class="custom-control custom-radio custom-control-inline">
                                            @Html.RadioButtonFor(model => model.IdPaciente.Sexo, "M", new { @class = "custom-control-input", @id = "input-sexo-masc" })
                                            <label class="custom-control-label" for="input-sexo-masc">Masculino</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            @Html.RadioButtonFor(model => model.IdPaciente.Sexo, "F", new { @class = "custom-control-input", @id = "input-sexo-fem" })
                                            <label class="custom-control-label" for="input-sexo-fem">Feminino</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <h6 class="heading-small text-muted mb-4">Informações de Contato</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-cep">CEP</label>
                                        <input asp-for="IdPaciente.Cep" id="input-cep" class="form-control" required placeholder="CEP" value="@cep">
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-logradouro">Logradouro</label>
                                        <input asp-for="IdPaciente.Rua" id="input-logradouro" required class="form-control" placeholder="Rua, Av, Travessa" value="@rua">
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-numero">Número</label>
                                        <input asp-for="IdPaciente.Numero" id="input-numero" required class="form-control" placeholder="" value="@numero">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-bairro">Bairro</label>
                                        <input asp-for="IdPaciente.Bairro" id="input-bairro" required class="form-control" placeholder="Bairro" value="@bairro">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-cidade">Cidade</label>
                                        <input asp-for="IdPaciente.Cidade" id="input-cidade" required class="form-control" placeholder="Cidade" value="@cidade">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-estado">Estado</label>
                                        <input asp-for="IdPaciente.Estado" id="input-estado" class="form-control" placeholder="Estado" value="@estado">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-complemento">Complemento</label>
                                        <input asp-for="IdPaciente.Complemento" id="input-complemento" class="form-control" placeholder="Complemento" value="@complemento">
                                    </div>
                                </div>
                                <div class="col-lg-4" hidden>
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-latitude">Latitude</label>
                                        <input asp-for="IdPaciente.Latitude" id="input-latitude" class="form-control" placeholder="" value="446456">
                                    </div>
                                </div>
                                <div class="col-lg-4" hidden>
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-longitude">Longitude</label>
                                        <input asp-for="IdPaciente.Longitude" id="input-longitude" class="form-control" placeholder="" value="515155">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">E-mail</label>
                                        <input asp-for="IdPaciente.Email" id="input-email" required class="form-control" placeholder="email@example.com" value="@email">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-celular">Celular</label>
                                        <input asp-for="IdPaciente.FoneCelular" id="input-celular" required class="form-control" placeholder=" (79) 55555 5555" value="@foneCelular">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-telefone">Telefone</label>
                                        <input asp-for="IdPaciente.FoneFixo" id="input-telefone" class="form-control" placeholder=" (79) 3000 6000" value="@foneFixo">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <h6 class="heading-small text-muted mb-4">Comobirdades</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="custom-control custom-checkbox form-group">
                                        <input asp-for="IdPaciente.Cardiopatia" type="checkbox" checked="@cardiopata" class="custom-control-input" id="customCheck1" value="">
                                        <label class="custom-control-label" for="customCheck1">Cardiopata</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="custom-control custom-checkbox form-group">
                                        <input asp-for="IdPaciente.Diabetes" type="checkbox" checked="@diabetico" class="custom-control-input" id="customCheck2" value="">
                                        <label class="custom-control-label" for="customCheck2">Diabetático</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="custom-control custom-checkbox form-group">
                                        <input asp-for="IdPaciente.Obeso" type="checkbox" checked="@obeso" class="custom-control-input" id="customCheck3" value="">
                                        <label class="custom-control-label" for="customCheck3">Obeso</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="custom-control custom-checkbox form-group">
                                        <input asp-for="IdPaciente.Hipertenso" type="checkbox" checked="@hipertenso" class="custom-control-input" id="customCheck4" value="">
                                        <label class="custom-control-label" for="customCheck4">Hipertenso</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="custom-control custom-checkbox form-group">
                                        <input asp-for="IdPaciente.Imunodeprimido" type="checkbox" checked="@imunodeprimido" class="custom-control-input" id="customCheck5" value="">
                                        <label class="custom-control-label" for="customCheck5">Imunodeprimido</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="custom-control custom-checkbox form-group">
                                        <input asp-for="IdPaciente.Cancer" type="checkbox" checked="@cancer" class="custom-control-input" id="customCheck6" value="">
                                        <label class="custom-control-label" for="customCheck6">Câncer</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="custom-control custom-checkbox form-group">
                                        <input asp-for="IdPaciente.DoencaRespiratoria" type="checkbox" checked="@doenRespiatoria" class="custom-control-input" id="customCheck7" value="@doenRespiatoria">
                                        <label class="custom-control-label" for="customCheck7">Doença Respiratória</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <h6 class="heading-small text-muted mb-4">RESULTADO</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-atuacao-estado">Exame</label>
                                        <label asp-for="IdVirusBacteria.IdVirusBacteria" class="control-label"></label>
                                        @Html.DropDownListFor(model => model.IdVirusBacteria.IdVirusBacteria, ViewBag.VirusBacteria as SelectList, new
                                        { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="input-data-sintomas" class="form-control-label">Início dos Sintomas</label>
                                        <input asp-for="DataInicioSintomas" class="form-control" required value="@DataInicioSintomas" id="input-data-sintomas">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="input-data-exame" class="form-control-label">Data do Exame</label>
                                        <input asp-for="DataExame" class="form-control" required value="@dataExame" id="input-data-exame">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="igg-reagente">IgG Reagente?</label><br>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            @Html.RadioButtonFor(model => model.IgG, "N", new { @class = "custom-control-input", @id = "input-igg-nao" })
                                            <label class="custom-control-label" for="input-igg-nao">Não</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            @Html.RadioButtonFor(model => model.IgG, "S", new { @class = "custom-control-input", @id = "input-igg-sim" })
                                            <label class="custom-control-label" for="input-igg-sim">Sim</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            @Html.RadioButtonFor(model => model.IgG, "I", new { @class = "custom-control-input", @id = "input-igg-indeterminado" })
                                            <label class="custom-control-label" for="input-igg-indeterminado">Indeterminado</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="igm-reagente">IgM Reagente?</label><br>

                                        <div class="custom-control custom-radio custom-control-inline">
                                            @Html.RadioButtonFor(model => model.IgM, "N", new { @class = "custom-control-input", @id = "input-igm-nao" })
                                            <label class="custom-control-label" for="input-igm-nao">Não</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            @Html.RadioButtonFor(model => model.IgM, "S", new { @class = "custom-control-input", @id = "input-igm-sim" })
                                            <label class="custom-control-label" for="input-igm-sim">Sim</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            @Html.RadioButtonFor(model => model.IgM, "I", new { @class = "custom-control-input", @id = "input-igm-indeterminado" })
                                            <label class="custom-control-label" for="input-igm-indeterminado">Indeterminado</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="rt-pcr">RT PCR Reagente?</label><br>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            @Html.RadioButtonFor(model => model.Pcr, "N", new { @class = "custom-control-input", @id = "input-rt-pcr-nao" })
                                            <label class="custom-control-label" for="input-rt-pcr-nao">Não</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            @Html.RadioButtonFor(model => model.Pcr, "S", new { @class = "custom-control-input", @id = "input-rt-pcr-sim" })
                                            <label class="custom-control-label" for="input-rt-pcr-sim">Sim</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            @Html.RadioButtonFor(model => model.Pcr, "I", new { @class = "custom-control-input", @id = "input-rt-pcr-indeterminado" })
                                            <label class="custom-control-label" for="input-rt-pcr-indeterminado">Indeterminado</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" hidden>
                            <input asp-for="PesquisarCpf" id="PesquisarCpf" value="0" />
                        </div>
                        <hr class="my-4" />
                        <div class="modal fade bs-example-modal-sm" id="modal-confirmar" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div style="padding: 10pt;text-align: center">
                                        <p id="titulo-confirmacao"> Confirmar Notificação do Resultado do Exame ? </p>
                                        <p id="texto-confirmacao">  </p>

                                        <div class="col text-center  form-group" id="acoes-model-form">
                                            <button type="button" data-dismiss="modal" class="btn btn-danger">Não</button>
                                            <button type="submit" value="Sim" class="btn btn-success">Sim</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row align-items-center">
                        <div class="col text-right">
                            <button value="Notificar" onclick='mensagemResultado()' class="btn btn-success">Notificar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-sm" id="modal-espera" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="loading-spinner" style="padding: 20pt;text-align: center">
                <svg id="hourglass" width='64px' height='64px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-hourglass">
                    <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                    <g>
                        <path fill="none" stroke="#007282" stroke-width="5" stroke-miterlimit="10" d="M58.4,51.7c-0.9-0.9-1.4-2-1.4-2.3s0.5-0.4,1.4-1.4 C70.8,43.8,79.8,30.5,80,15.5H70H30H20c0.2,15,9.2,28.1,21.6,32.3c0.9,0.9,1.4,1.2,1.4,1.5s-0.5,1.6-1.4,2.5 C29.2,56.1,20.2,69.5,20,85.5h10h40h10C79.8,69.5,70.8,55.9,58.4,51.7z" class="glass"></path>
                        <clipPath id="uil-hourglass-clip1">
                            <rect x="15" y="20" width="70" height="25" class="clip">
                                <animate attributeName="height" from="25" to="0" dur="1s" repeatCount="indefinite" vlaues="25;0;0" keyTimes="0;0.5;1"></animate>
                                <animate attributeName="y" from="20" to="45" dur="1s" repeatCount="indefinite" vlaues="20;45;45" keyTimes="0;0.5;1"></animate>
                            </rect>
                        </clipPath>
                        <clipPath id="uil-hourglass-clip2">
                            <rect x="15" y="55" width="70" height="25" class="clip">
                                <animate attributeName="height" from="0" to="25" dur="1s" repeatCount="indefinite" vlaues="0;25;25" keyTimes="0;0.5;1"></animate>
                                <animate attributeName="y" from="80" to="55" dur="1s" repeatCount="indefinite" vlaues="80;55;55" keyTimes="0;0.5;1"></animate>
                            </rect>
                        </clipPath>
                        <path d="M29,23c3.1,11.4,11.3,19.5,21,19.5S67.9,34.4,71,23H29z" clip-path="url(#uil-hourglass-clip1)" fill="#ffab00" class="sand"></path>
                        <path d="M71.6,78c-3-11.6-11.5-20-21.5-20s-18.5,8.4-21.5,20H71.6z" clip-path="url(#uil-hourglass-clip2)" fill="#ffab00" class="sand"></path>
                        <animateTransform attributeName="transform" type="rotate" from="0 50 50" to="180 50 50" repeatCount="indefinite" dur="1s" values="0 50 50;0 50 50;180 50 50" keyTimes="0;0.7;1"></animateTransform>
                    </g>
                </svg>

                <p>Aguarde enquanto verificamos se esse paciente já existe...</p>
            </div>
        </div>
    </div>
</div>


@if (TempData["mensagemSucesso"] != null || TempData["mensagemErro"] != null)
{
    <div class="modal fade bs-example-modal-sm" id="modal-mensagem-retorno" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div style="padding: 20pt;text-align: center">
                    @if (TempData["mensagemSucesso"] != null)
                    {
                        <p> @TempData["mensagemSucesso"] </p>

                        <p>
                            Foi enviada uma mensagem de Email/SMS/Whatsapp
                            para o celular cadastrado para notificá-lo do resultado
                            do exame.
                        </p>
                        <a class="btn btn-success" asp-action="Index">Ok</a>
                    }
                    else
                    {
                        <p> @TempData["mensagemErro"] </p>
                        <button type="button" data-dismiss="modal" class="btn btn-success">Ok</button>

                    }
                </div>
            </div>
        </div>
    </div>
}


<script>

    /*$("#input-cpf").keyup(function () {
        if (document.getElementById('input-cpf').value.length == 14) {
            $('#modal-espera').modal('show');

            document.getElementById('PesquisarCpf').value = 1;
            document.forms["form-exame"].submit();

        }
    });*/
    var input = document.getElementById('input-cpf');

    input.addEventListener("keyup", function () {

        if (document.getElementById('input-cpf').value.length == 14) {
            $('#modal-espera').modal('show');

            document.getElementById('PesquisarCpf').value = 1;
            document.forms["form-exame"].submit();

        }
    });

    window.onload = function () {
        $('#modal-mensagem-retorno').modal('show');
    };

    function mensagemResultado() {

        var cpf = document.getElementById('input-cpf').value;
        var nome = document.getElementById('input-nome').value;

        var mensagem = "O paciente não foi informado ou " +
            "existem campos sem preencher!";

        if (!(cpf === "" || nome === "")) {

            var mensagem = "Cpf: " + cpf + "\n" +
                "Paciente: " + nome + "\n" +
                "Resultado: " + resultadoExame();

            $('#acoes-model-form').show();

        } else {
            $('#acoes-model-form').hide();
        }


        $('#texto-confirmacao').text(mensagem);
        $('#modal-confirmar').modal('show');
    }

    function resultadoExame() {
        var igg = $("input[name='IgG']:checked").val();
        var igm = $("input[name='IgM']:checked").val();
        var pcr = $("input[name='Pcr']:checked").val();

        var resultado = "Indetermiando";

        if (pcr === "S" || igm === "S") {
            resultado = "Positivo";
        } else if (igg === "S") {
            resultado = "Curado";
        } else if (pcr === "N") {
            resultado = "Negativo";
        } else if (pcr === "I") {
            resultado = "Indetermiando";
        }

        return resultado;

    }
   /*  $("#input-cpf").onkeyup(function(){// evento jquery quando o cara digita

            alert("digitou algo");
       });
       */
    /* function automaticInput(cpf) {
         if (cpf.length == 14) {
             $('#modal-espera').modal('show');

             document.getElementById('PesquisarCpf').value = 1;
             document.forms["form-exame"].submit();

         }
     }*/

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
